[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fontTools = "*"
lz4 = "*"
ufo2ft = "*"
defcon = "*"
ufoLib = "*"
cu2qu = "*"
glyphsLib = "==2.4.0"
compreffor = "*"
booleanoperations = "*"
mutatorMath = "*"
fontParts = "*"
pysilfont = {git = "https://github.com/silnrsi/pysilfont.git", ref = "v1.3.0"}

[dev-packages]
pytest = "*"

[requires]
python_version = "2.7"
# python_version = "3.6"
