<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>UFOFormat</key>
  <integer>2</integer>
  <key>com.fontlab.v2.tth</key>
  <dict>
    <key>stems</key>
    <dict>
      <key>X: 140</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>37</key>
          <integer>3</integer>
          <key>52</key>
          <integer>4</integer>
          <key>66</key>
          <integer>5</integer>
          <key>81</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>140</integer>
      </dict>
      <key>X: 145</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>23</key>
          <integer>2</integer>
          <key>36</key>
          <integer>3</integer>
          <key>50</key>
          <integer>4</integer>
          <key>64</key>
          <integer>5</integer>
          <key>78</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>145</integer>
      </dict>
      <key>X: 150</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>35</key>
          <integer>3</integer>
          <key>48</key>
          <integer>4</integer>
          <key>62</key>
          <integer>5</integer>
          <key>76</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>150</integer>
      </dict>
      <key>X: 155</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>34</key>
          <integer>3</integer>
          <key>47</key>
          <integer>4</integer>
          <key>60</key>
          <integer>5</integer>
          <key>73</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>155</integer>
      </dict>
      <key>X: 160</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>32</key>
          <integer>3</integer>
          <key>45</key>
          <integer>4</integer>
          <key>58</key>
          <integer>5</integer>
          <key>71</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>160</integer>
      </dict>
      <key>X: 165</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>32</key>
          <integer>3</integer>
          <key>44</key>
          <integer>4</integer>
          <key>56</key>
          <integer>5</integer>
          <key>69</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>165</integer>
      </dict>
      <key>X: 170</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>22</key>
          <integer>2</integer>
          <key>31</key>
          <integer>3</integer>
          <key>43</key>
          <integer>4</integer>
          <key>55</key>
          <integer>5</integer>
          <key>67</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>170</integer>
      </dict>
      <key>X: 175</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>21</key>
          <integer>2</integer>
          <key>30</key>
          <integer>3</integer>
          <key>41</key>
          <integer>4</integer>
          <key>53</key>
          <integer>5</integer>
          <key>65</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>175</integer>
      </dict>
      <key>X: 185</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>21</key>
          <integer>2</integer>
          <key>28</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>50</key>
          <integer>5</integer>
          <key>61</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>185</integer>
      </dict>
      <key>X: 270</key>
      <dict>
        <key>horizontal</key>
        <true/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>35</key>
          <integer>5</integer>
          <key>42</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>270</integer>
      </dict>
      <key>Y: 165</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>19</key>
          <integer>2</integer>
          <key>32</key>
          <integer>3</integer>
          <key>44</key>
          <integer>4</integer>
          <key>56</key>
          <integer>5</integer>
          <key>69</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>165</integer>
      </dict>
      <key>Y: 180</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>29</key>
          <integer>3</integer>
          <key>40</key>
          <integer>4</integer>
          <key>52</key>
          <integer>5</integer>
          <key>63</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>180</integer>
      </dict>
      <key>Y: 185</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>28</key>
          <integer>3</integer>
          <key>39</key>
          <integer>4</integer>
          <key>50</key>
          <integer>5</integer>
          <key>61</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>185</integer>
      </dict>
      <key>Y: 190</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>27</key>
          <integer>3</integer>
          <key>38</key>
          <integer>4</integer>
          <key>49</key>
          <integer>5</integer>
          <key>60</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>190</integer>
      </dict>
      <key>Y: 195</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>17</key>
          <integer>2</integer>
          <key>27</key>
          <integer>3</integer>
          <key>37</key>
          <integer>4</integer>
          <key>48</key>
          <integer>5</integer>
          <key>58</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>195</integer>
      </dict>
      <key>Y: 200</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>26</key>
          <integer>3</integer>
          <key>36</key>
          <integer>4</integer>
          <key>47</key>
          <integer>5</integer>
          <key>57</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>200</integer>
      </dict>
      <key>Y: 205</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>15</key>
          <integer>2</integer>
          <key>25</key>
          <integer>3</integer>
          <key>35</key>
          <integer>4</integer>
          <key>45</key>
          <integer>5</integer>
          <key>55</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>205</integer>
      </dict>
      <key>Y: 270</key>
      <dict>
        <key>horizontal</key>
        <false/>
        <key>round</key>
        <dict>
          <key>0</key>
          <integer>1</integer>
          <key>12</key>
          <integer>2</integer>
          <key>19</key>
          <integer>3</integer>
          <key>27</key>
          <integer>4</integer>
          <key>35</key>
          <integer>5</integer>
          <key>42</key>
          <integer>6</integer>
        </dict>
        <key>width</key>
        <integer>270</integer>
      </dict>
    </dict>
    <key>zones</key>
    <dict>
      <key>b: 0</key>
      <dict>
        <key>position</key>
        <integer>0</integer>
        <key>top</key>
        <false/>
        <key>width</key>
        <integer>25</integer>
      </dict>
      <key>b: 1</key>
      <dict>
        <key>position</key>
        <integer>-490</integer>
        <key>top</key>
        <false/>
        <key>width</key>
        <integer>0</integer>
      </dict>
      <key>t: 0</key>
      <dict>
        <key>position</key>
        <integer>1020</integer>
        <key>top</key>
        <true/>
        <key>width</key>
        <integer>20</integer>
      </dict>
      <key>t: 1</key>
      <dict>
        <key>position</key>
        <integer>1455</integer>
        <key>top</key>
        <true/>
        <key>width</key>
        <integer>30</integer>
      </dict>
      <key>t: 2</key>
      <dict>
        <key>position</key>
        <integer>1600</integer>
        <key>top</key>
        <true/>
        <key>width</key>
        <integer>20</integer>
      </dict>
    </dict>
  </dict>
  <key>com.schriftgestaltung.disablesAutomaticAlignment</key>
  <true/>
  <key>com.schriftgestaltung.fontMasterID</key>
  <string>227CFDA3-9046-4C35-BCA7-2E12199138C9</string>
  <key>com.schriftgestaltung.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Space</string>
    <string>ExclamationMrk</string>
    <string>QuotMrk</string>
    <string>NumSgn</string>
    <string>DollarSgn</string>
    <string>PercentSgn</string>
    <string>Ampersand</string>
    <string>Apos</string>
    <string>LftParen</string>
    <string>RtParen</string>
    <string>Asterisk</string>
    <string>PlusSgn</string>
    <string>Comma</string>
    <string>HyphenMinus</string>
    <string>FullStop</string>
    <string>Solidus</string>
    <string>DigitZero</string>
    <string>DigitOne</string>
    <string>DigitTwo</string>
    <string>DigitThree</string>
    <string>DigitFour</string>
    <string>DigitFive</string>
    <string>DigitSix</string>
    <string>DigitSeven</string>
    <string>DigitEight</string>
    <string>DigitNine</string>
    <string>Colon</string>
    <string>Semicolon</string>
    <string>LTSgn</string>
    <string>EqSgn</string>
    <string>GTSgn</string>
    <string>QstnMrk</string>
    <string>AtSgn</string>
    <string>LtnCapA</string>
    <string>LtnCapB</string>
    <string>LtnCapC</string>
    <string>LtnCapD</string>
    <string>LtnCapE</string>
    <string>LtnCapF</string>
    <string>LtnCapG</string>
    <string>LtnCapH</string>
    <string>LtnCapI</string>
    <string>LtnCapJ</string>
    <string>LtnCapK</string>
    <string>LtnCapL</string>
    <string>LtnCapM</string>
    <string>LtnCapN</string>
    <string>LtnCapO</string>
    <string>LtnCapP</string>
    <string>LtnCapQ</string>
    <string>LtnCapR</string>
    <string>LtnCapS</string>
    <string>LtnCapT</string>
    <string>LtnCapU</string>
    <string>LtnCapV</string>
    <string>LtnCapW</string>
    <string>LtnCapX</string>
    <string>LtnCapY</string>
    <string>LtnCapZ</string>
    <string>LftSqrBrac</string>
    <string>ReverseSolidus</string>
    <string>RtSqrBrac</string>
    <string>CircumAccent</string>
    <string>LowLine</string>
    <string>GraveAccent</string>
    <string>LtnSmA</string>
    <string>LtnSmB</string>
    <string>LtnSmC</string>
    <string>LtnSmD</string>
    <string>LtnSmE</string>
    <string>LtnSmF</string>
    <string>LtnSmG</string>
    <string>LtnSmH</string>
    <string>LtnSmI</string>
    <string>LtnSmJ</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmQ</string>
    <string>LtnSmR</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmU</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmX</string>
    <string>LtnSmY</string>
    <string>LtnSmZ</string>
    <string>LftCurlyBrac</string>
    <string>VertLine</string>
    <string>RtCurlyBrac</string>
    <string>Tilde</string>
    <string>LtnCapADiaer</string>
    <string>LtnCapARingAbv</string>
    <string>LtnCapCCedilla</string>
    <string>LtnCapEAcute</string>
    <string>LtnCapNTilde</string>
    <string>LtnCapODiaer</string>
    <string>LtnCapUDiaer</string>
    <string>LtnSmAAcute</string>
    <string>LtnSmAGrave</string>
    <string>LtnSmACircum</string>
    <string>LtnSmADiaer</string>
    <string>LtnSmATilde</string>
    <string>LtnSmARingAbv</string>
    <string>LtnSmCCedilla</string>
    <string>LtnSmEAcute</string>
    <string>LtnSmEGrave</string>
    <string>LtnSmECircum</string>
    <string>LtnSmEDiaer</string>
    <string>LtnSmIAcute</string>
    <string>LtnSmIGrave</string>
    <string>LtnSmICircum</string>
    <string>LtnSmIDiaer</string>
    <string>LtnSmNTilde</string>
    <string>LtnSmOAcute</string>
    <string>LtnSmOGrave</string>
    <string>LtnSmOCircum</string>
    <string>LtnSmODiaer</string>
    <string>LtnSmOTilde</string>
    <string>LtnSmUAcute</string>
    <string>LtnSmUGrave</string>
    <string>LtnSmUCircum</string>
    <string>LtnSmUDiaer</string>
    <string>Dagger</string>
    <string>DegreeSgn</string>
    <string>CentSgn</string>
    <string>PoundSgn</string>
    <string>SectionSgn</string>
    <string>Bullet</string>
    <string>PilcrowSgn</string>
    <string>LtnSmSharpS</string>
    <string>RegisteredSgn</string>
    <string>CopyrightSgn</string>
    <string>TradeMrkSgn</string>
    <string>AcuteAccent</string>
    <string>Diaer</string>
    <string>NotEqTo</string>
    <string>LtnCapAe</string>
    <string>LtnCapOStrk</string>
    <string>Infinity</string>
    <string>PlusMinusSgn</string>
    <string>LTOrEqTo</string>
    <string>GTOrEqTo</string>
    <string>YenSgn</string>
    <string>MicroSgn</string>
    <string>PartialDiff</string>
    <string>NArySummation</string>
    <string>NAryProduct</string>
    <string>GrSmPi</string>
    <string>Integral</string>
    <string>FemOrdIndicator</string>
    <string>MascOrdIndicator</string>
    <string>OhmSgn</string>
    <string>LtnSmAe</string>
    <string>LtnSmOStrk</string>
    <string>InvQstnMrk</string>
    <string>InvExclamationMrk</string>
    <string>NotSgn</string>
    <string>SqrRoot</string>
    <string>LtnSmFHook</string>
    <string>AlmostEqTo</string>
    <string>Increment</string>
    <string>LftPtngDblAngQuotMrk</string>
    <string>RtPtngDblAngQuotMrk</string>
    <string>HorizEllipsis</string>
    <string>NoBreakSpace</string>
    <string>LtnCapAGrave</string>
    <string>LtnCapATilde</string>
    <string>LtnCapOTilde</string>
    <string>LtnCapLigOe</string>
    <string>LtnSmLigOe</string>
    <string>EnDash</string>
    <string>EmDash</string>
    <string>LftDblQuotMrk</string>
    <string>RtDblQuotMrk</string>
    <string>LftSglQuotMrk</string>
    <string>RtSglQuotMrk</string>
    <string>DivSgn</string>
    <string>Lozenge</string>
    <string>LtnSmYDiaer</string>
    <string>LtnCapYDiaer</string>
    <string>FracSlash</string>
    <string>CurrSgn</string>
    <string>SglLftPtngAngQuotMrk</string>
    <string>SglRtPtngAngQuotMrk</string>
    <string>LtnSmLigFi</string>
    <string>LtnSmLigFl</string>
    <string>DblDagger</string>
    <string>MiddleDot</string>
    <string>SglLow9QuotMrk</string>
    <string>DblLow9QuotMrk</string>
    <string>PerMilleSgn</string>
    <string>LtnCapACircum</string>
    <string>LtnCapECircum</string>
    <string>LtnCapAAcute</string>
    <string>LtnCapEDiaer</string>
    <string>LtnCapEGrave</string>
    <string>LtnCapIAcute</string>
    <string>LtnCapICircum</string>
    <string>LtnCapIDiaer</string>
    <string>LtnCapIGrave</string>
    <string>LtnCapOAcute</string>
    <string>LtnCapOCircum</string>
    <string>DottedCirc</string>
    <string>LtnCapOGrave</string>
    <string>LtnCapUAcute</string>
    <string>LtnCapUCircum</string>
    <string>LtnCapUGrave</string>
    <string>LtnSmDotlessI</string>
    <string>ModCircumAccent</string>
    <string>SmTilde</string>
    <string>Macron</string>
    <string>Breve</string>
    <string>DotAbv</string>
    <string>RingAbv</string>
    <string>Cedilla</string>
    <string>DblAcuteAccent</string>
    <string>Ogonek</string>
    <string>Caron</string>
    <string>EuroSgn</string>
    <string>LtnSmEth</string>
    <string>LtnCapEth</string>
    <string>GrCapPi</string>
    <string>GrCapOmega</string>
    <string>LtnSmThorn</string>
    <string>LtnCapThorn</string>
    <string>LtnSmSCaron</string>
    <string>LtnCapSCaron</string>
    <string>LtnSmYAcute</string>
    <string>LtnCapYAcute</string>
    <string>LtnSmZCaron</string>
    <string>LtnCapZCaron</string>
    <string>LtnCapEsh</string>
    <string>SupOne</string>
    <string>SupTwo</string>
    <string>SupThree</string>
    <string>VulgFracOneHalf</string>
    <string>VulgFracOneQuarter</string>
    <string>VulgFracThreeQuarters</string>
    <string>BulletOperator</string>
    <string>BrokenBar</string>
    <string>Hyphen</string>
    <string>NonBreakingHyphen</string>
    <string>Hyphen_Soft</string>
    <string>HorizBar</string>
    <string>CombAcute</string>
    <string>CombGrave</string>
    <string>CombCircum</string>
    <string>CombCaron</string>
    <string>CombTilde</string>
    <string>MultSgn</string>
    <string>CombDiaer</string>
    <string>CombRingAbv</string>
    <string>CombCedilla</string>
  </array>
  <key>com.schriftgestaltung.useNiceNames</key>
  <false/>
  <key>com.typemytype.robofont.guides</key>
  <array>
    <dict>
      <key>angle</key>
      <integer>0</integer>
      <key>isGlobal</key>
      <true/>
      <key>magnetic</key>
      <integer>5</integer>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>2080</integer>
    </dict>
  </array>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>.null</string>
    <string>nonmarkingreturn</string>
    <string>Space</string>
    <string>ExclamationMrk</string>
    <string>QuotMrk</string>
    <string>NumSgn</string>
    <string>DollarSgn</string>
    <string>PercentSgn</string>
    <string>Ampersand</string>
    <string>Apos</string>
    <string>LftParen</string>
    <string>RtParen</string>
    <string>Asterisk</string>
    <string>PlusSgn</string>
    <string>Comma</string>
    <string>HyphenMinus</string>
    <string>FullStop</string>
    <string>Solidus</string>
    <string>DigitZero</string>
    <string>DigitOne</string>
    <string>DigitTwo</string>
    <string>DigitThree</string>
    <string>DigitFour</string>
    <string>DigitFive</string>
    <string>DigitSix</string>
    <string>DigitSeven</string>
    <string>DigitEight</string>
    <string>DigitNine</string>
    <string>Colon</string>
    <string>Semicolon</string>
    <string>LTSgn</string>
    <string>EqSgn</string>
    <string>GTSgn</string>
    <string>QstnMrk</string>
    <string>AtSgn</string>
    <string>LtnCapA</string>
    <string>LtnCapB</string>
    <string>LtnCapC</string>
    <string>LtnCapD</string>
    <string>LtnCapE</string>
    <string>LtnCapF</string>
    <string>LtnCapG</string>
    <string>LtnCapH</string>
    <string>LtnCapI</string>
    <string>LtnCapJ</string>
    <string>LtnCapK</string>
    <string>LtnCapL</string>
    <string>LtnCapM</string>
    <string>LtnCapN</string>
    <string>LtnCapO</string>
    <string>LtnCapP</string>
    <string>LtnCapQ</string>
    <string>LtnCapR</string>
    <string>LtnCapS</string>
    <string>LtnCapT</string>
    <string>LtnCapU</string>
    <string>LtnCapV</string>
    <string>LtnCapW</string>
    <string>LtnCapX</string>
    <string>LtnCapY</string>
    <string>LtnCapZ</string>
    <string>LftSqrBrac</string>
    <string>ReverseSolidus</string>
    <string>RtSqrBrac</string>
    <string>CircumAccent</string>
    <string>LowLine</string>
    <string>GraveAccent</string>
    <string>LtnSmA</string>
    <string>LtnSmB</string>
    <string>LtnSmC</string>
    <string>LtnSmD</string>
    <string>LtnSmE</string>
    <string>LtnSmF</string>
    <string>LtnSmG</string>
    <string>LtnSmH</string>
    <string>LtnSmI</string>
    <string>LtnSmJ</string>
    <string>LtnSmK</string>
    <string>LtnSmL</string>
    <string>LtnSmM</string>
    <string>LtnSmN</string>
    <string>LtnSmO</string>
    <string>LtnSmP</string>
    <string>LtnSmQ</string>
    <string>LtnSmR</string>
    <string>LtnSmS</string>
    <string>LtnSmT</string>
    <string>LtnSmU</string>
    <string>LtnSmV</string>
    <string>LtnSmW</string>
    <string>LtnSmX</string>
    <string>LtnSmY</string>
    <string>LtnSmZ</string>
    <string>LftCurlyBrac</string>
    <string>VertLine</string>
    <string>RtCurlyBrac</string>
    <string>Tilde</string>
    <string>LtnCapADiaer</string>
    <string>LtnCapARingAbv</string>
    <string>LtnCapCCedilla</string>
    <string>LtnCapEAcute</string>
    <string>LtnCapNTilde</string>
    <string>LtnCapODiaer</string>
    <string>LtnCapUDiaer</string>
    <string>LtnSmAAcute</string>
    <string>LtnSmAGrave</string>
    <string>LtnSmACircum</string>
    <string>LtnSmADiaer</string>
    <string>LtnSmATilde</string>
    <string>LtnSmARingAbv</string>
    <string>LtnSmCCedilla</string>
    <string>LtnSmEAcute</string>
    <string>LtnSmEGrave</string>
    <string>LtnSmECircum</string>
    <string>LtnSmEDiaer</string>
    <string>LtnSmIAcute</string>
    <string>LtnSmIGrave</string>
    <string>LtnSmICircum</string>
    <string>LtnSmIDiaer</string>
    <string>LtnSmNTilde</string>
    <string>LtnSmOAcute</string>
    <string>LtnSmOGrave</string>
    <string>LtnSmOCircum</string>
    <string>LtnSmODiaer</string>
    <string>LtnSmOTilde</string>
    <string>LtnSmUAcute</string>
    <string>LtnSmUGrave</string>
    <string>LtnSmUCircum</string>
    <string>LtnSmUDiaer</string>
    <string>Dagger</string>
    <string>DegreeSgn</string>
    <string>CentSgn</string>
    <string>PoundSgn</string>
    <string>SectionSgn</string>
    <string>Bullet</string>
    <string>PilcrowSgn</string>
    <string>LtnSmSharpS</string>
    <string>RegisteredSgn</string>
    <string>CopyrightSgn</string>
    <string>TradeMrkSgn</string>
    <string>AcuteAccent</string>
    <string>Diaer</string>
    <string>NotEqTo</string>
    <string>LtnCapAe</string>
    <string>LtnCapOStrk</string>
    <string>Infinity</string>
    <string>PlusMinusSgn</string>
    <string>LTOrEqTo</string>
    <string>GTOrEqTo</string>
    <string>YenSgn</string>
    <string>MicroSgn</string>
    <string>PartialDiff</string>
    <string>NArySummation</string>
    <string>NAryProduct</string>
    <string>GrSmPi</string>
    <string>Integral</string>
    <string>FemOrdIndicator</string>
    <string>MascOrdIndicator</string>
    <string>OhmSgn</string>
    <string>LtnSmAe</string>
    <string>LtnSmOStrk</string>
    <string>InvQstnMrk</string>
    <string>InvExclamationMrk</string>
    <string>NotSgn</string>
    <string>SqrRoot</string>
    <string>LtnSmFHook</string>
    <string>AlmostEqTo</string>
    <string>Increment</string>
    <string>LftPtngDblAngQuotMrk</string>
    <string>RtPtngDblAngQuotMrk</string>
    <string>HorizEllipsis</string>
    <string>NoBreakSpace</string>
    <string>LtnCapAGrave</string>
    <string>LtnCapATilde</string>
    <string>LtnCapOTilde</string>
    <string>LtnCapLigOe</string>
    <string>LtnSmLigOe</string>
    <string>EnDash</string>
    <string>EmDash</string>
    <string>LftDblQuotMrk</string>
    <string>RtDblQuotMrk</string>
    <string>LftSglQuotMrk</string>
    <string>RtSglQuotMrk</string>
    <string>DivSgn</string>
    <string>Lozenge</string>
    <string>LtnSmYDiaer</string>
    <string>LtnCapYDiaer</string>
    <string>FracSlash</string>
    <string>CurrSgn</string>
    <string>SglLftPtngAngQuotMrk</string>
    <string>SglRtPtngAngQuotMrk</string>
    <string>LtnSmLigFi</string>
    <string>LtnSmLigFl</string>
    <string>DblDagger</string>
    <string>MiddleDot</string>
    <string>SglLow9QuotMrk</string>
    <string>DblLow9QuotMrk</string>
    <string>PerMilleSgn</string>
    <string>LtnCapACircum</string>
    <string>LtnCapECircum</string>
    <string>LtnCapAAcute</string>
    <string>LtnCapEDiaer</string>
    <string>LtnCapEGrave</string>
    <string>LtnCapIAcute</string>
    <string>LtnCapICircum</string>
    <string>LtnCapIDiaer</string>
    <string>LtnCapIGrave</string>
    <string>LtnCapOAcute</string>
    <string>LtnCapOCircum</string>
    <string>DottedCirc</string>
    <string>LtnCapOGrave</string>
    <string>LtnCapUAcute</string>
    <string>LtnCapUCircum</string>
    <string>LtnCapUGrave</string>
    <string>LtnSmDotlessI</string>
    <string>ModCircumAccent</string>
    <string>SmTilde</string>
    <string>Macron</string>
    <string>Breve</string>
    <string>DotAbv</string>
    <string>RingAbv</string>
    <string>Cedilla</string>
    <string>DblAcuteAccent</string>
    <string>Ogonek</string>
    <string>Caron</string>
    <string>EuroSgn</string>
    <string>LtnSmEth</string>
    <string>LtnCapEth</string>
    <string>GrCapPi</string>
    <string>GrCapOmega</string>
    <string>LtnSmThorn</string>
    <string>LtnCapThorn</string>
    <string>LtnSmSCaron</string>
    <string>LtnCapSCaron</string>
    <string>LtnSmYAcute</string>
    <string>LtnCapYAcute</string>
    <string>LtnSmZCaron</string>
    <string>LtnCapZCaron</string>
    <string>LtnCapEsh</string>
    <string>SupOne</string>
    <string>SupTwo</string>
    <string>SupThree</string>
    <string>VulgFracOneHalf</string>
    <string>VulgFracOneQuarter</string>
    <string>VulgFracThreeQuarters</string>
    <string>BulletOperator</string>
    <string>BrokenBar</string>
    <string>Hyphen</string>
    <string>NonBreakingHyphen</string>
    <string>Hyphen_Soft</string>
    <string>HorizBar</string>
    <string>CombAcute</string>
    <string>CombGrave</string>
    <string>CombCircum</string>
    <string>CombCaron</string>
    <string>CombTilde</string>
    <string>MultSgn</string>
    <string>CombDiaer</string>
    <string>CombRingAbv</string>
    <string>CombCedilla</string>
  </array>
</dict>
</plist>
